@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    font-family: Inter;
}

.containerReembolsos{
    display: flex;
}

header{
    width: 8vw;
    height: 5vh;
    display: flex;
    border: solid red;
    justify-content: space-between;
}

.mainReembolsos{
    display: flex;
    flex-direction: column;
    height: 95vh;
    align-items: center;
    justify-content: center;
    div{
        width: 60%;
    }
}

.containerCards{
    border: solid blue;
    display: flex;
    height: 20vh;
    justify-content: space-between;
    width: 60%;

}

article{
    border: solid #cbd4e1;
    width: 15vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.containerStatus{
    background-color: peru;
    display: flex;
    width: 60%;
    height: 15vh;
    justify-content: space-evenly;
    align-items: center;
    div{
        border: solid green;
        width: 15%;
        display: flex;
        justify-content: space-evenly;
    }
}

.NumeroSolicitados{
    background-color: #00bedd;
    border: 6px;
    padding: 6px;
}